.masthead {
    padding-top: 15px;
}
#name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.4em;
    padding-top: 10px;
}
#title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
}